.log-out-btn {
  cursor: pointer;
  width: 5rem;
  height: 2rem;
  line-height: 1.6rem;
  font-size: .8rem;
  font-weight: 600;
  border-radius: 5px;
}

.height-div-account {
  height: 65vh;
}

@media only screen and (max-width: 600px) {
  .height-div-account {
    height: 66vh;
  }
}