.card-wrapper {
  border-radius: 5px 5px 0 0;
  width: 100%;
  margin: .5rem 0;
  padding: 0;
}

.wrapper-header {
  border-radius: 5px 5px 0 0;
  text-transform: uppercase;
  width: 100%;
  margin: 0;
  padding: .5rem;
  padding-left: 1.5rem;
  color: white;
  background-color: $red;
  font-weight: bold;
}

.wrapper-icon {
  color: white;
  width: 1.5rem !important;
  height: 1.5rem;
  // why no worky?
  -webkit-text-stroke: 2px blue !important;
  -webkit-text-fill-color: cyan !important;
}

.wrapper-icon-ion {
  color: $white;
  width: 1.5rem !important;
  height: 1.5rem;
  transform: rotate(150deg);
}

.wrapper-body {
  color: black;
  padding: 1.4rem 1.2rem 1rem 1.2rem;
}
