.comments-box {
  width: 85%;
}

.comments-label {
  height: 36px;
  line-height: 36px;
  color: white;
  text-transform: uppercase;
  border-radius: 5px 5px 0 0
}

.send {
  cursor: pointer;
  width: 4rem;
  font-size: .8rem;
  font-weight: 600;
  border-radius: 5px;
}

.comment {
  white-space: pre-line;
}

.comment-footer {
  cursor: pointer;
  color: $dark-orange;
}

.comment-footer:hover {
  color: $red;
  text-decoration: none;
}

.comment-footer:active {
  color: $red;
}