.bg-light {
  background: $light;
}

body {
  background-color: #AA925C;
}

.container {
  background-color: #E6D8B6;
}

.greeting {
  font-size: 12px;
}

.inner-container {
  height: 60rem;
  flex: 1;
  flex-direction: column;
  justify-content: space-between;
  display: grid;
  grid-template-columns: 4fr 3fr;
  margin-left: 0;
}

.side-container {
  background-color: #E6D8B6;
}

.home {
  margin: auto;
  display: block;
}

h1 {
  display: block;
  width: 500px;
  margin: 4rem auto;
}