.bg-light {
  background: $light;
}

body {
  background-color: #AA925C;
}

.greeting {
  font-size: 12px;
}

.inner-container {
  flex: 1;
  display: grid;
  grid-template-columns: 4fr 3fr;
  margin-left: 0;
  height: 100% !important;
}

@media only screen and (max-width: 600px) {
  .inner-container {
    display: grid;
    grid-template-columns: 1fr;
    margin-left: 0;
    height: 100% !important;
  }
}

.home {
  margin: auto;
  display: block;
}

h1 {
  display: block;
  width: 500px;
  margin: 4rem auto;
}