body {
  background-color: $gold;
}

.left-col {
  background-color: $light2;
}

.right-col {
  background-color: $white;
}

.greeting {
  font-size: 12px;
}

@media only screen and (max-width: 600px) {
  .greeting {
    display: none;
  }
}

.greeting-mobile {
  font-size: 12px;
}

@media only screen and (min-width: 600px) {
  .greeting-mobile {
    display: none;
  }
}

.inner-container {
  flex: 1;
  display: grid;
  grid-template-columns: 4fr 3fr;
  margin-left: 0;
  height: 100% !important;
}

@media only screen and (max-width: 600px) {
  .inner-container {
    display: flex;
    flex-wrap: wrap-reverse;
    margin-left: 0;
  }
}

.home {
  margin: auto;
  display: block;
}

h1 {
  display: block;
  width: 500px;
  margin: 4rem auto;
}