.login-title {
  border-radius: 5px 5px 0 0;
}

.login {
  display: grid;
  grid-template-columns: 2fr 5fr 3fr;
}

.password {
  display: grid;
  grid-template-columns: 2fr 5fr 3fr;
}

.forgot-password {
  font-size: .9rem;
}

.reset-pw-btn {
  width: 11rem;
  border-radius: 5px;
  font-size: .8rem;
  font-weight: 600;
}

.errors {
  color: red;
  text-align: center;
  font-size: .9rem;
}

.btn-container {
  display: grid;
  grid-template-columns: 2fr 5fr 3fr;
}

.send-btn {
  width: 4rem;
  border-radius: 5px;
  font-size: .8rem;
  font-weight: 600;
}

@media only screen and (max-width: 1000px) {
  .login {
    display: flex;
    flex-direction: column;
  }

  .password {
    display: flex;
    flex-direction: column;
  }

  .btn-container {
    display: flex;
    justify-content: flex-end;
  }
}