.inner-container-movie {
  flex: 1;
  display: grid;
  grid-template-columns: 4fr 3fr;
  margin-left: 0;
}

@media only screen and (max-width: 600px) {
  .inner-container-movie {
    display: flex;
    width: 95%;
    flex-wrap: wrap;
    margin-left: 0;
  }
}

.poster {
  min-width: 11rem;
  height: 16rem;
  margin-right: 1.5rem;
  margin-bottom: 1.5rem;
  background-size: contain;
  background-repeat: no-repeat;
}

.title {
  font-size: 1.4rem;
  font-weight: bolder;
}

.director {
  font-size: 1.1rem;
}

.bd-light {
  border: .2px solid $light;
}

.row-height {
  height: 1.7rem;
  line-height: 1.7rem;
}

.add-movie {
  cursor: pointer;
}

.plus-movie-page {
  width: 1.6rem;
  height: 1.6rem;
  position: relative;
  bottom: 1px;
}

.height-div-movie-page {
  height: 63vh;
}