.movie-page {

}

.poster-img {
  width: 5rem;
  height: 8rem;
  background-size: cover;

}

.title {
  font-size: 1.4rem;
  font-weight: bolder;
}

.director {
  font-size: 1.2rem;
  font-weight: bold;
}

.bd-light {
  border: .2px solid $light;
}