.movie-page {

}

.poster {
  width: 14rem;
  margin-right: 1.5rem;
  margin-bottom: 1.5rem;
}

.poster-img {
  display: block;
  width: 100%;
  height: auto;
}

.title {
  font-size: 1.4rem;
  font-weight: bolder;
}

.director {
  font-size: 1.2rem;
}

.bd-light {
  border: .2px solid $light;
}