.list-container {
  margin: 15px 0 20px 0;
  width: 100%;
}

.movie-item {
  display: grid;
  grid-template-columns: 1fr 5fr 20fr 5fr;
  border: black solid 1px;
  margin: auto;
  width: 100%;
}

.movie-link {
  text-decoration: none;
  color: inherit;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.grip {
  cursor: grab;
}

.dir-year {
  color: black;
  font-size: .9rem;
  margin-top: .05rem;
}

.sortableHelper {
  text-align: center;
}

.delete {
  white-space: nowrap;
  overflow: hidden;
  font-size: 1.3rem;
  background-color: Transparent;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
}

.delete:hover {
  color: $red;
}

.numbers {
  white-space: nowrap;
  overflow: hidden;
  color: grey;
  font-style: bolder;
  font-size: 26px;
  margin: auto;
  margin-left: 13px;
}