.brand {
  font-size: 1.4rem;
  text-decoration: none;
  font-weight: 500;
}

.navbar {
  width: 100%;
  border: lightgrey solid 1px;
  box-shadow: 0 2px 2px 0 black;
  flex: 1;
  padding: 0;
  justify-content: flex-end;
  background-color: #EB5018;
}

.login-register-links {
  font-size: .8rem;
  margin-bottom: .2rem;
  font-weight: 600;
}

.nav-links {
  font-size: .8rem;
}

.nav-block {
  font-family: $michroma;
  font-weight: bold;
  font-size: .7rem;
  border: 1px solid lightgrey;
  width: 9rem;
  padding-left: .4rem;
  height: 3.5rem;
  line-height: 5rem;
  border-radius: .2rem;
  background-color: $red;
  background-image: url("https://www.transparenttextures.com/patterns/subtle-carbon.png");
  margin: 0 .4rem 0 0 !important;
  box-shadow: .2rem .2rem black;
}

.nav-block:active,
.nav-block.active {
  background-color: $light-orange;
}

.nav-block:active {
  position: relative;
  top: 2px;
  box-shadow: none;
}

.site-title {
  color: white;
  display: flex;
  font-size: 45px;
  font-weight: 900;
  text-shadow: 0 0 4px #AF3211; /* horizontal-offset vertical-offset 'blur' colour */
  -moz-text-shadow: 0 0 4px #AF3211;
  -webkit-text-shadow: 0 0 4px #AF3211;
}

.subtitle {
  color: white;
  font-size: 14px;
}

.nav-links {
  display: flex;
  justify-content: space-evenly;
  width: 65%;
  margin: auto;
  height: 2rem;
  color: white;
}

.navlink {
  text-decoration: none;
  font-size: 17px;
  color: black;
}