.under-construction {
  background-image: url('../images/under-construction.png');
  background-size: 100%;
  background-position: center;
  width: 60rem;
  height: 50rem;
  background-repeat: no-repeat;
}