.profile-wrapper {
  height: 100% !important;
}

.main-container {
  display: grid;
  grid-template-columns: 60% 40%;
  height: 100% !important;
}

.left-col {
  height: 100% !important;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.edit-list-container {
  width: 95%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 2.5rem;
}

.edit-list-inner-container {
  width: 90%;
}

.search-btns-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  width: 100%;
  height: 2.2rem;
}

.right-col {
  height: 100% !important;
}
