.profile-wrapper {
  text-align: center;
  height: 100vh;
}

.main-container {
  display: grid;
  grid-template-columns: 60% 40%;
}

.left-col {
  height: 100vh;
}

.right-col {

}

/* .sortable-item {
  -webkit-user-drag: element;
  -webkit-user-select:none;
  margin: auto;
  text-align: center;
} */

/* .sortable-list {
  -webkit-user-drag: element;
  -webkit-user-select:none;
  margin: auto;
  text-align: center;
} */
