.wrapper-icon {

}

.wrapper-title {
  border-radius: 5px 5px 0 0;
  text-transform: uppercase;
  width: 100%;
  margin: 0;
  padding: .5rem;
  padding-left: 1.5rem;
  color: white;
  background-color: #B20E07;
  font-weight: bold;
}

.wrapper-body {
  color: black;
}