.result-item {
  font-size: 15px;
  height: 25px;
  border-bottom: lightgrey solid 1px;
  margin: auto;
  width: 42%;
}

.result-info {
  margin: 5px 0;
}

.result-year-director {
  margin-top: 2px;
}