.card {
  border-radius: 5px 5px 0 0;
}
/* this is so I don't inherit properties from the bootstrap class of the same name, will address later */
.card-title1 {
  border-radius: 5px 5px 0 0;
  text-transform: uppercase;
  width: 100%;
  margin: 0;
  padding: .5rem;
  padding-left: 1.5rem;
  color: white;
  background-color: #B20E07;
  font-weight: bold;
}

.card-text1 {
  color: black;
}