.page-settings {
  position: relative;
  bottom: .6rem;
  font-weight: 600;
}

.pages {
  text-decoration: underline;
  background: none;
  border: 0;
  color: $red;
  font-weight: 900;
}

.pages:hover {
  color: white;
}

.viewable-item {
  line-height: 2rem;
}

.viewable-item-rank {
  display: inline-block;
  min-width: 2.6rem;
}

.viewable-item-text {
  max-width: 516px;
}

.active-page {
  color: white;
}