body {
  background-color: #AA925C;
}

.container {
  margin: auto;
  width: 99.5%;
  background-color: #E6D8B6;
  border: 1px solid black;
  flex: 1;
  align-items: center;
  justify-content: center;
}

.greeting {
  font-size: 14px;
  font-weight: 500;
}

.inner-container {
  /* width: 80%; */
  height: 60rem;
  flex: 1;
  flex-direction: column;
  justify-content: space-between;
  display: grid;
  grid-template-columns: 4fr 3fr;
  /* grid-gap: 1rem; */
}

.main {
  /* grid-area: m; */
}

.side-container {
  /* grid-area: s; */
  background-color: #E6D8B6;

}

.home {
  margin: auto;
  display: block;
}

h1 {
  display: block;
  width: 500px;
  margin: 4rem auto;
}