.profile-wrapper {
  text-align: center;
}

/* .sortable-item {
  -webkit-user-drag: element; 
  -webkit-user-select:none;
  margin: auto;
  text-align: center;
} */

/* .sortable-list {
  -webkit-user-drag: element; 
  -webkit-user-select:none;
  margin: auto;
  text-align: center;
} */
