/* Search Results */
.search {
  width: 100%;
}

.search-text {
  height: 2.5rem;
  width: 100%;
}

.result-scroll {
  width: 100%;
  /* background-color: rgb(245, 245, 245); */
  max-height: 14rem;
  overflow: auto;
}

