/* Search Results */
.search {
  width: 100%;
}

.search-text {
  height: 2.5rem;
  width: 90%;
}

.result-item {
  font-size: 15px;
  /* height: 25px; */
  border-bottom: lightgrey solid 1px;
  margin: auto;
  width: 90%;
  height: 3.5rem;
}

.result-info {
  margin: 5px 0;
  vertical-align: middle;
}

.result-year-director {
  margin-top: 2px;
}

