/* links */
a:visited {
  color: #9C640B;
}

a {
  color: #EF7C2D;
}

/* a:active {
  color:
} */


a:hover {
  color: #B20E07;
  text-decoration: none;
}

/* global colors */

.text-orange {
  color: #EB5018;
}

.bg-light2 {
  background-color: #E6D8B6;
}

.bg-light1 {
  background-color: #DECDA4;
}

.bg-dark {
  background-color: #AA925C;
}

.bg-light-orange {
  background-color: #FE7C19;
}

.bg-orange {
  background-color: #EF7C2D;
}

.bg-dark-orange {
  background-color: #EB5018;
}

.bg-red {
  background-color: #B20E07;
}

.bg-white1 {
  background: rgb(255,255,255); /* Old browsers */
  background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(246,246,246,1) 47%,rgba(237,237,237,1) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(246,246,246,1) 47%,rgba(237,237,237,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed',GradientType=0 ); /* IE6-9 */

}


