/* links */
a:visited {
  color: #9C640B;
}

a {
  color: #EF7C2D;
}

/* a:active {
  color:
} */


a:hover {
  color: #B20E07;
  text-decoration: none;
}

/* global colors */

.text-orange {
  color: #EB5018;
}

.bg-light2 {
  background-color: #E6D8B6;
}

.bg-light1 {
  background-color: #DECDA4;
}

.bg-dark {
  background-color: #AA925C;
}

.bg-light-orange {
  background-color: #FE7C19;
}

.bg-orange {
  background-color: #EF7C2D;
}

.bg-dark-orange {
  background-color: #EB5018;
}

.bg-red {
  background-color: #B20E07;
}


