.save-delete {
  margin: 20px 0 10px 450px;
}

.delete-list {
  color: red;
  font-size: .7rem;
  margin: 5px;
  padding: .3rem 5px;
  background-color: transparent;
}

.save-list {
  color: green;
  font-size: .7rem;
  margin: 5px;
  padding: .3rem 5px;
  background-color: transparent;
} 