.save-delete {
  margin: 20px 0 10px 450px;
}

.delete-list {
  color: red;
  font-size: .7rem;
  margin: 5px;
  padding: .3rem 5px;
  background-color: transparent;
}

.save-list {
  color: green;
  font-size: .7rem;
  margin: 5px;
  padding: .3rem 5px;
  background-color: transparent;
} 

.custom-ui {
  border: grey 1px solid;
  padding: 2rem 2.5rem 2.5rem 2.5rem;
  border-radius: 4px;
}

.alert-button {
  margin-right: .7rem;
  border-radius: 4px;
  font-weight: 600;
  color: white;
  border: black 1px solid;
}

.red {
  background-color: #FF5F31;
}

.green {
  background-color: #4CAE51;
}