.container-scss {
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  max-width: 85rem;
  background-color: $light2;
  margin: 1rem auto;
  padding: 0 1rem;
  min-height: 100vh;
}

@media only screen and (max-width: 600px) {
  .container-scss {
    position: relative;
    max-width: 98%;
  }
}