// Colors
$text-orange: #EB5018;

$light: #DECDA4;
$light2: #E6D8B6;
$dark: #AA925C;
$light-orange: #FE7C19;
$orange: #EF7C2D;
$dark-orange: #EB5018;
$red: #B20E07;
$white: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(246,246,246,1) 47%,rgba(237,237,237,1) 100%);

.bg-white {
  background: $white !important;
}

.bg-tan {
  background: $light !important;
}

.bg-orange {
  background: $orange !important;
}

.bg-light-orange {
  background: $light-orange !important;
}

.bg-dark-orange {
  background: $dark-orange !important;
}

.bg-dark {
  background: $dark !important;
}

.bg-light {
  background: $light !important;
}

.bg-light2 {
  background: $light2 !important;
}

.bg-red {
  background: $red !important;
}

// rgb(255,255,255); /* Old browsers */
// background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%); /* FF3.6-15 */
// background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(246,246,246,1) 47%,rgba(237,237,237,1) 100%); /* Chrome10-25,Safari5.1-6 */
// background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(246,246,246,1) 47%,rgba(237,237,237,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
// filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed',GradientType=0 ); /* IE6-9 */

// Fonts
$michroma: 'Michroma', sans-serif;


// Spacing
$m-size: 1rem;
$l-size: 2rem;
$xl-size: 3rem;